html * {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
header{
    position: absolute;
    background-color: #0b504bdc;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
nav{
    
    width: 50%;
    
}
ul{
    display: flex;
    align-content: center;
    align-items: center;
    
    
    position: relative;
}
li{
    list-style: none;
    display: inline-flex;
    padding: 10px;
    
    position: relative;
    right: 24px;
}
li a{
    text-decoration: none;
    font-weight: 400;
    color: aliceblue;
    font-size: 19px;
}
.logo{
   
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}
#logospa{
   
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    bottom: 7px;
    position: relative;
    text-transform: uppercase;
}
#innlogo {
    
    font-size: 18px;
    position: absolute;
    right: 44px;
    top: 31px;
    color: #fff;
    
}
#navim{
    width: 30px;
    height: 30px;
    top: 5px;
    position: relative;
    

}
#logoim{
    width: 110px;
    height: 50px;
    
}
.top{
    
    height: 390px;
    position: relative;
    z-index: 0;
    background-color: #14a79df1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
h1{
    color: #fff;
    font-size: 60px;
    position: relative;
    width: 400px;
    bottom: -40px;
    left: 26px;
    z-index: 1;
    
}
#topim{
    width: 390px;
    height: 350px;
    right: 200px;
    position: relative;
    z-index: 0;
}
.middle{
    
    height: 200px;
    background-color: rgb(3, 3, 3);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.miim{
    width: 150px;
    height: 150px;
    padding-right: 18px;
    
}
.midp{
    width: 30%;
}
.midim{
    width: 70%;
    left: 17px;
    position: relative;
    
    display: flex;
    justify-content: space-between;
}
.midp{
    
    width: 300px;
    font-size: 20px;
    position: relative;
    right: 5px;
    color: #fff;
}
main{
    display: flex;
    justify-content: space-between;
}
.container1{
    width: 50%;
    padding: 20px;
    
}
.con1a{
    
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
h2{
    color: #000;
}
h6{
    color: #4aafb4;
}
h3{
    color: #359ea3;
}
.con1b{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.co2::after{
    content: " ";
    width: 627px;
    height: 1px;
    background: rgb(109, 109, 109);
    position: relative;
    display: block;
    bottom: -32px;
    left: 0px;
}
.midp::after{
    content: " ";
    width: 180px;
    height: 1px;
    background: #fff;
    position: relative;
    display: block;
    
    left: -120px;
    bottom: 76.5px;
    transform: rotate(90deg);
}
.midp::before{
    content: '';
    width: 4px;
    height: 4px;
    background: #fff;
    position: relative;
    display: block;
    border-radius: 50%;
    left: -35.5px;
    top: 79px;
}
.co3{
    
    padding-right: 15px;
}
.co2{
    padding-right: 0px;
    width: 80%;
    
}
.rm{
    color: rgb(83, 83, 83);
}
.container2{
    width: 50%;
    padding: 20px;
    
    height: 1100px;
    display: block;
    border: 1px solid red;
    
}
.con2p{
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
    position: relative;
    
    border: 1px solid red;
    
    
}


.conspa{
    display: block;
    
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    top: 30px;
    position: relative;
    font-size: 20px;
    margin-top: 60px;
}
.conspa2{
    position: relative;
    border: 1px solid red;
}
.con2ss{
    font-size: 15px;
    color: #6bc4c8;
}
.con2s{
    color: #6bc4c8;
    font-weight: 200;
}
.con2d{
    border: 1px solid red;
    background: orangered;
    display: flex;
    align-items: center;
    width: 320px;
    justify-content: space-between;
    top: 0;
}
#con2dim{
     width: 50px;
     height: 50px;
     position: relative;
     left: 10px;
}
.con2dspan{
    right: 15px;
    position: relative;
    
    color: #fff;
}
@media only screen and (max-width:1118px){
    .middle{
    
        height: 400px;
        background-color: rgb(3, 3, 3);
        display:  grid;
        justify-content: space-around;
        
        
        
    }
    .midim{
        border: 1px solid red;
    }
    .midp{
        border: 1px solid red;
        left: 230px;
        
    }
    .midp::after{
        
        display: none;
        
    }
    .midp::before{
        
        display: none;
        
    }
    .midlsecp{
        text-align: center;
    }
    main{
        display: block;
    }
    .container1{
        width: 100%;
    }
    .container2{
        width: 100%;
    }
    .co2::after{
        content: " ";
        width: 100%;
        height: 1px;
        background: rgb(109, 109, 109);
        position: relative;
        display: block;
        bottom: -32px;
        left: 0px;
    }
    
}
@media only screen and (max-width:906px){
    header{
        position: absolute;
        background-color: #0b504bdc;
        display: block;
        
        
        width: 100%;
        z-index: 1;
        height: 110px;
    }
    #innlogo{
        position: relative;
        top: -22px;
        left: -82px;
    }
    .logo{
        position: relative;
        top:20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 0px;

    }
    nav{
        position: absolute;
        bottom: -20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 0px;
    }
    #logospa{
        font-size: 30px;
        left: 27px;
    }
    h1{
        font-size: 40px;
    }
    .inlogo{
        
        position: relative;
        left: 40px;
    }
    .top{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    
    
}
@media only screen and (max-width:372px){
    #logospa{
        font-size: 23px;
        left: 27px;
    }
    #logoim{
    top: -20px;
    position: relative;
    margin: 0;
    }
    #innlogo{
        top: -7px;
        left: 30px;
    position: absolute;
    }
    .inlogo{
        margin: 0;
        padding: 0;
    }
    .logo{
        display: inline;
        
    }
    li a{
        text-decoration: none;
        font-weight: 400;
        color: aliceblue;
        font-size: 13px;
        
    }
    li{
        padding: 5px;
    }
    #navim{
        width: 15px;
        height: 15px;
        top: 2.5px;
        position: relative;
        
    
    }
    nav{
        bottom: -5px;
    }
    h1{
        font-size: 38px;
    }
    .midlsecp{
        font-size: 19px;
        width: 180px;
        left: 50px;
        position: relative;
    }
    .con2dspan{
        left: 0.1px;
        position: relative;
        font-size: 12px;
    }
    #con2dim{
        width: 25px;
        height: 25px;
        top: 10px;
        left: 0px;
        position: relative;
    }
    .con2d{
        display: inline;
    }
}